/*Header que contiene la sección superior de la página y el menú de navegación*/
.sticky-header { 
    position: sticky; /*Mantiene fijo el header al scrollear en la página*/
    top: 0px;
    width: 100%;
}

/* Primer sección de la página, muestra el mensaje de: • 3 cuotas sin interés, etc */
.section-advertising {
    background-color:black;
    height: 40px; /*altura de la sección*/
}

.text-center{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    line-height:2.5em /*Debería usar vertical-align: middle; pero no funciona*/
}

/*Menú de navegación, ya está prediseñado en bootstrap, sólo le modifico algunas propiedades*/
.navbar {
    background-color:white
}


.navbar-nav {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
	color: black;
}

.nav-link {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th,td,h1,h2,a{
    text-align: center;
    vertical-align: middle;
}

h3{
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding-top: 20px;
}

h6{
	font-size: 26px;
	text-align: center;
	color: rgb(224, 51, 51);
	margin: 0;
	font-weight: bold;
	padding-top: 10px;
}

h7{
	font-size: 15px;
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 0;
	padding-top: 10px;
}